<h1><%= @task.title %></h1>
<%= link_to "Update task", edit_task_path(@task.id)%>

<div>
  <p><%= @task.details %></p>
  <%= @task.completed ? "Task is completed" : "Task is not completed" %>
</div>

<%= link_to "Back to list", tasks_path %>
